

@font-face {
  font-family: AvertaCY;
  src:  url('fonts/AvertaCY-Regular.woff2') format('woff2');
}

@font-face {
  font-family: AvertaCYL;
  src:  url('fonts/AvertaCY-Light.woff2') format('woff2');
}

@font-face {
  font-family: AvertaCYB;
  src:  url('fonts/AvertaCY-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: PlusJakartaRegular;
  src:  url('fonts/PlusJakartaSans-Regular.woff2') format('woff2');
}

::selection {
  background-color: lightblue;
  color: white;
}

/* ** Mozilla based browsers ** */

::-moz-selection {
  background-color: lightblue;
  color: white;
}

/* **For Other Browsers ** */

::-o-selection {
  background-color: lightblue;
  color: white;
}

::-ms-selection {
  background-color: lightblue;
  color: white;
}

#header{
  transition: 3.2s;
}

html{
    width: 100%;
    height: 100%;
    
     margin: 0;
     padding: 0;
    scroll-behavior: smooth;
    transition: all .5s;
    background-color: white;
    
 }
 body{
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     overflow-x: hidden;   
     font-family: 'Cormorant Garamond', serif;
     background-color: white;
     
 }

.navbar-nav > li > a{
    color: white;
    border-radius: 10px;
    
  padding-top:20px;
  padding-bottom:20px;
}

.navbar-nav > li > a:hover{
    background-color:  rgba( 255, 191, 76, 0.1);
    border-radius: 10px;
    color: white;
    
}
.navbar-nav > li{
  
  color: #2a2c35;
  font-size: calc(0.43em + 0.43vw);
  padding-left:10px;
  padding-right:10px;

}

 .container-fluid{
   width: 100%;
   margin: 0;
   padding: 0;
 }

 
.ImageFillAnimate:hover{
  transform: scale(0.95);
  transition: all .3s;
}

.ImageFillAnimate{
  border-radius: 3px;
  transition: all .7s;
}
.hideme
{
    opacity:0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button5 {
  background-color: transparent;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: calc(0.65em + 0.65vw);
  font-weight: 500;
  padding: 12px 24px;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.button1 {
  backdrop-filter: blur(4px);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-family: avertacyb;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.button1:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.button2 {
  background-color: white;
  color:   #d8d8d8  ;
  font-family: avertacyb;
  border: 2px solid   #d8d8d8  ;
}

.button2:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.buttonPD {
  
  margin: 0px;
  font-size: calc(0.4em + 0.4vw);
  background-color: rgb(220, 233, 243);;
  color:   #3e5159  ;
  font-family: avertacyb;
}

.buttonPD:hover {
  background-color: #3e5159;
  color: #cee4ec;
}

.buttonWS {
  
  margin: 0px;
  font-size: calc(0.4em + 0.4vw);
  background-color: #ebe3d5;
  color:   #3e5159  ;
  font-family: avertacyb;
}

.buttonWS:hover {
  background-color: #3e5159;
  color: #ebe3d5;
}

.buttonFR {
  
  margin: 0px;
  font-size: calc(0.4em + 0.4vw);
  background-color: #d7ebd1;
  color:   #3e5159  ;
  font-family: avertacyb;
}

.buttonFR:hover {
  background-color: #3e5159;
  color: #d7ebd1;
}


.cardpodcast{
  padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
	width: auto;
	border-style: solid;
	border-width: 3px;
	border-color: #484848;
	border-radius: 10px;
}

.card-title{
  
  font-size: calc(0.8em + 0.8vw);
  font-family: 'Cormorant Garamond', serif; color: #26343a;
  margin-top: 5%;
  margin-bottom: 1%;
}

.card-text{
  margin-left: 5%;
  margin-right: 5%;
   color:  #879296 ;
}

.card.text-black.border-0.ws :hover{
  background-color: #def1fc;
  transition-duration: 0.5s;
 
}

.card.text-black.border-0.pc :hover{
  background-color: #f3ede1;
  transition-duration: 0.5s;
 
} 
.card.text-black.border-0.fr :hover{
  background-color: #e5f5e0;
  transition-duration: 0.5s;
 
}



